<body class="sensei-index">
  <div class="container">
    <div class="sensei-profile">
      <% if params[:query].nil? || params[:query].empty? %>
        <h1 class="text-center"> Senseis</h1>
      <% else %>
        <h1 class="text-center"> Senseis de <%= params[:query] %> <i class="fas fa-chalkboard-teacher"></i></h1>
      <% end %>
      <div class="row senseis-container">
        <% if @senseis.length.zero? %>
        <h4 style="color: gray; text-align: center"> Desculpe, não há Senseis disponíveis para "<%= params[:query] %>"</h4>
        <% end %>
        <% @senseis.each do |sensei| %>
          <% unless sensei.sensei_subjects.empty? %>
            <%= link_to sensei_path(sensei) do %>
              <div class="col-xs-8 col-xs-offset-2 sensei-profile-index">
                <div class="row">
                  <div class="col-xs-4">
                  <%= cl_image_tag sensei.user.photo , height: 200, width: 200,class: 'img-circle', crop: :fill;%>
                  </div>
                  <div class="col-xs-8">
                  <h2> Sensei <%= sensei.user.username %> </h2>
                  <% array = LessonRequest.where(sensei_id: sensei.id).map{ |e| e[:rating]} %>
                  <% if array.length.zero? %>
                    <p style="color: green">Sensei Novo!</p>
                  <% else %>
                    <% (array.sum / array.length).to_i.times do %>
                        <%= icon("fa","star") %>
                    <% end %>
                  <% end %>
                  <% sensei.sensei_subjects.each do |subj| %>
                    <h5 style="color: black"><%= subj.subject.title %> | R$ <%= subj.price_per_hour %>/h</h5>
                  <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</body>
