<h3 class="text-center">Minhas aulas</h3>


<ul class="list-group text-left">
  <% @lesson_requests.each do |lesson| %>
  <li class="list-group-item">
    <%= link_to lesson do %>
    <p><strong>Aula #<%= lesson.id %></strong></p>
    <% end %>
    <div class="shared-index">
      <div>
        <p><strong>Aluno: </strong><%= lesson.user.username %></p>
        <p><strong>Matéria: </strong><%= lesson.subject.title %></p>
        <p><strong>Descrição: </strong><%= lesson.description %></p>
      </div>
      <div>
        <p><strong>Duração: </strong><%= lesson.duration %> minutos</p>
        <p><strong>Status: </strong><%= lesson.status %></p>
        <p><% if lesson.status == "Aula concluída" %>
          <strong>Rating: </strong>
          <% lesson.rating.times do %>
          <%= icon("fa", "star") %>
          <% end %></p>
          <% end %>
        </p>
      </div>
    </div>
  </li>
  <% end %>
</ul>


