<div class="container">
  <% if params[:format] == "sensei" %>
  <h2 class="text-center">Minhas aulas - Sensei <strong><%= current_user.sensei.user.username %></strong></h2>
  <% else %>
  <h2 class="text-center">Minhas aulas - Estudante</h2>
  <% end %>

  <% @lesson_requests.each do |lesson| %>
    <div class="message">
      <% if current_user.id == lesson.sensei.user.id %>
        <%= cl_image_tag lesson.user.photo, class:"avatar-large" %>
      <% else %>
        <%= cl_image_tag lesson.sensei.user.photo, class:"avatar-large" %>
      <% end %>
      <div class="message-name">
        <% if current_user.id == lesson.sensei.user.id %>
          <h3><%= lesson.user.username %></h3>
        <% else %>
          <h3><%= lesson.sensei.user.username %></h3>
        <% end %>
        <p>Atualizado em<br><%= lesson.updated_at.to_s.split(" ")[0].split("-").reverse.join("/") %></p>
      </div>
      <div class="message-body">
        <p><%= link_to lesson do %>
          <strong>Aula #<%= lesson.id %></strong>
        <% end %></p>
        <p>Matéria: <strong><%= lesson.subject.title %></strong></p>
        <p>
          Descrição: <strong><%= lesson.description %></strong>
        </p>
      </div>
      <div class="message-status">
        <% if lesson.status == "Aula concluída" %>
          <p class="status done">Aula concluída</p>
        <% elsif lesson.status == "Aguardando Sensei" %>
          <p class="status pending">Aguardando Sensei</p>
        <% elsif lesson.status == "Cancelada" %>
          <p class="status declined">Cancelada</p>
        <% else %>
          <p class="status accepted">Aula aceita</p>
        <% end %>
        <p class="price"><%= number_to_currency(lesson.amount, unit: "R$ ") %></p>
      </div>
    </div>
  <% end %>
</div>
