<body class="sensei-index">
<div class="container login-container text-center" id="lesson">
  <h1 class="text-center">Solicitação de Aula #<%= @lesson_request.id %></h1>

  <div class="container wrapp">
    <h2><strong>Sensei</strong>
      <br>
     <%= cl_image_tag @lesson_request.sensei.user.photo, width:50,height:50, class:"img-circle" %>
      <%= @lesson_request.sensei.user.username %></h2>
    <h2><strong>Aluno</strong>
      <br>
      <%= cl_image_tag @lesson_request.user.photo, width:50,height:50, class:"img-circle" %>
      <%= @lesson_request.user.username %></h2>
  </div>

  <div class="container">
    <h2><strong>Matéria: </strong><%= @lesson_request.subject.title %></h2>
    <h3><strong>Descrição: </strong><%= @lesson_request.description %></h3>
    <h3><strong>Duração: </strong><%= @lesson_request.duration %> minutos</h3>
    <h3><strong>Valor total: </strong><%= number_to_currency(@lesson_request.amount) %></h3>
    <h3><strong>Status: </strong><%= @lesson_request.status %>
    <% if @lesson_request.status == "Aula concluída" %>
      <h3><strong>Rating: </strong></h3>
      <% @lesson_request.rating.times do %>
        <%= icon("fa", "star") %>
      <% end %>
    <% end %>
    </h3>
  </div>


  <% unless @lesson_request.status == "Aula concluída" %>

    <!-- Botão entrar na sala -->
    <%= button_to "Entrar na sala", chat_room_path(@chat_room), method: :get, class: 'btn btn-primary' unless @chat_room.nil? %>

    <!-- Botão para cancelar a aula -->
    <% unless @lesson_request.status == "Cancelada" %>
      <%= button_to "Cancelar", lesson_request_cancel_path(@lesson_request), method: :get, class: 'btn btn-danger' %>
    <% end %>

    <% if current_user == @lesson_request.sensei.user && @lesson_request.status == "Aguardando Sensei" %>
      <%= button_to "Aceitar a aula", lesson_request_sensei_accepted_path(@lesson_request), method: :get, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= link_to 'Voltar', lesson_requests_path(current_user == @lesson_request.sensei.user ? "sensei" : "student"), class: 'btn btn-primary' %>

</div>
</body>

