<body class="sensei-index">
<div class="container login-container" id="lesson">
  <h1 class="text-center">Solicitação de Aula #<%= @lesson_request.id %></h1>
  <div class="container wrapp">
    <h2 class="text-center"><%= cl_image_tag @lesson_request.sensei.user.photo, width:50,height:50, class:"img-circle" %>
      <%= @lesson_request.sensei.user.username %>
      <br>
      <strong><% if @lesson_request.rating.present? %>
            <% @lesson_request.rating.times do %>
            <span style="color: orange;">
          <%= icon("fa", "star") %>
        </span>
        <% end %>
      <% end %></strong>
      <br>
    </h2>
    <h2 class="text-center"><%= cl_image_tag @lesson_request.user.photo, width:50,height:50, class:"img-circle" %>
      <%= @lesson_request.user.username %>
      <br>
      <strong><% if @lesson_request.rating_student.present? %>
          <% @lesson_request.rating_student.times do %>
          <span style="color: orange;">
            <%= icon("fa", "star") %>
          </span>
          <% end %>
      <% end %></strong>
      <br>
      </h2>
  </div>

  <div class="container" style="display: flex">
      <div class="row col-xs-offset-3">
        <div class="col-xs-6">
      <h3><strong><%= icon("fa", "book") %> </strong><%= @lesson_request.subject.title %>  </h3>
      <h4> <%= icon("fa", "pencil") %> <span style="color: gray;"><%= @lesson_request.description %></h4></span>
      <h3><strong><%= icon("fa", "clock-o") %> </strong><%= @lesson_request.duration %> minutos</h3>

    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <h3><%= @lesson_request.status %></h3><h3><strong>Valor:</strong><%= number_to_currency(@lesson_request.amount) %></h3>
    </div>
    </div>
  </div>
  <div class="text-center">
  <% unless @lesson_request.status == "Aula concluída" || @lesson_request.status == "Cancelada" %>
    <br>
    <!-- Botão entrar na sala -->
    <%= button_to "Entrar na sala", chat_room_path(@chat_room), method: :get, class: 'btn btn-primary' unless @chat_room.nil? %>
    <br>
    <!-- Botão para cancelar a aula -->
    <% unless @lesson_request.status == "Cancelada" %>
      <%= button_to "Cancelar", lesson_request_cancel_path(@lesson_request), method: :get, class: 'btn btn-danger' %>
    <% end %>
    <br>
    <% if current_user == @lesson_request.sensei.user && @lesson_request.status == "Aguardando Sensei" %>
      <%= button_to "Aceitar a aula", lesson_request_sensei_accepted_path(@lesson_request), method: :get, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= link_to 'Voltar', lesson_requests_path(current_user == @lesson_request.sensei.user ? "sensei" : "student"), class: 'btn btn-primary' %>
  </div>
</div>
</body>

